.aboutMe-bg {
  width: 100%;
  height: 100%;
  --color: #100120;
  background-color:#080010;
  background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent),
      linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent);
  background-size: 55px 55px;
}
.aboutme-title {
    color:rgb(208, 255, 0);
    font-size:2.5vw;
    font-family: "Playwrite AU QLD", cursive;
    font-optical-sizing: auto;
    font-weight:800;
    font-style: normal;
    padding-top:5vw;
    padding-left:10vw;
}

.about-me-main-content {
    margin-top:4vw;
    padding: 0 7vw;
    padding-bottom:8vw;
}

.myphoto {
    border:2px solid #7961f4;
    padding:0.25vw;
    border-radius:50vw;
    opacity:0.95;
}

.about-me-text {
    color:#F8F8F2;
    font-family: "Libertinus Serif", serif;
    font-weight: 400;
    font-style: normal;
    font-size:1.35em;
    text-align: justify;
    padding-left:6vw;
}

.name {
    color:white;
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight:700;
  font-style: normal;
  font-size:1.95em;
}

.star-pattern {
    font-size:2vw;
    margin-top:1vw;
}

@media (max-width: 450px) {
    .aboutMe-bg {
        height:155vw;
    }
    .aboutme-title {
        font-size:6vw;
        padding-top:15vw;
        padding-left:27.5vw;
    }

    .about-me-main-content {
        flex-direction:column;
        padding-top:5vw;
    }

    .myphoto {
        height:65vw;
        border:3px solid #7961f4;
        margin-top:10vw;
    }

    .about-me-text {
        font-size:1rem;
        text-align: center;
        padding-left:0vw;
        margin-top:5vw;
    }

    .name {
    font-size:2.5rem;
    }

    .star-pattern {
        font-size:6vw;
        margin-top:5vw;
        margin-bottom:20px;
}

}