.main-home-content {
  display:flex;
  flex-direction: column-reverse;
  justify-content:center;
  align-items:center;
  height:46vw;
}
.main-home-content-left {
  display:flex;
  justify-content:center;
  align-items:center;
}

.home-myImage {
  clip-path:circle(50% at 50% 50%)

}
.home-name {
    padding:10px 10px;
    font-family: "Playwrite AU QLD", cursive;
    font-optical-sizing: auto;
    font-weight:700;
    color:white;
    font-style: normal;
    margin-left:1.5vw;
}

.homepage-title {
  margin-right:2.5vw;
}

.sociallogo-div {
  position:relative;
  top:3vw;
}

.socialLogo {
    height:3vw;
    border:1px solid #ffffff2d;
    border-radius:50px;
    padding:5px;
    cursor:pointer;
    background-color: black;
}

.socialLogo:hover {
  box-shadow:3px 3px 20px #ffffff9e,
  -3px -3px 20px #ffffff9e;
  border:none;
}


.intro-name-title {
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.intro-name-title p:nth-of-type(1) {
  color:rgb(255, 255, 255);
  font-family: "Boldonse", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size:8.5vw;
  letter-spacing:2px;
}

.intro-name-title p:nth-of-type(2) {
  color:white;
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight:100;
  font-style: normal;
  font-size:1.25rem;

}

@media (max-width: 450px) {

  .main-home-content {
  height:100%;
  margin-top:10vw;
  padding-bottom:12vw;
  }
  .sociallogo-div {
    margin-top:2vw;
    bottom:0;
  }

  .socialLogo {
  height:9vw;
  border:2.5px solid #ffffff2d;
  margin-top:2vw;
  gap:0.9rem;
  }
  .intro-name-title {
    padding-top:5vw;
  }

  .intro-name-title p:nth-of-type(1) {
    font-size:9vw;
    padding-top:10vw;
  }

  .intro-name-title p:nth-of-type(2) {
    font-size:0.7rem;
  }
}