.header-div {
    display:flex;
    justify-content:flex-start;
    align-items:center;
    width:55vw;
    border-radius:40px;
    gap:12.5vw;
    margin-left:25vw;
    backdrop-filter: blur(12px) saturate(160%);
    -webkit-backdrop-filter: blur(12px) saturate(160%);
    background-color: rgba(255, 255, 255, 0.012);
    border-radius: 12px;
    border: 1px solid #7F00FF;
    font-weight: bold;
    text-align: center;
    transition: all 0.3s ease-in-out;
    box-shadow: inset 10px 10px 50px rgba(0, 0, 0, 0.477),
    inset -10px -10px 50px rgba(0, 0, 0, 0.503);
    position:relative;
    top:2.5vw;
    z-index:1;
  }



.title {
  font-family: "Manufacturing Consent", system-ui;
  font-weight: 100;
  font-style: normal;
  font-size:3vw;
  font-weight: 100;
  margin-left:6vw;
}

.navigation {
    font-family: "Amatic SC", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size:1.55em;
    gap:1.5vw;
}

@media (max-width: 450px) {
  .header-div {
    border-radius:10px;
    gap:10vw;
    position:relative;
    top:5vw;
    width:80vw;
    height:8vw;
    margin-left:10vw;
    justify-content:center;
  }
  .navigation {
    font-size: 11px;
    padding: 10px;
  }
  .title {
    font-size:1rem;
    margin-left:0;

  }
}