body { margin: 0;}

.ticker-wrap {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  white-space: nowrap;
  background-color:#7961f4;
  position:absolute;
  bottom:1.5vw;
  rotate:-2.5deg;

}
.ticker {
  display: inline-block;
  margin-top: 5px;
  animation: marquee 40s linear infinite;
}
.item-collection-1 {
  position: relative;
  left: 0%;
  animation: swap 40s linear infinite;
}
.item-collection-2 {
  position: relative;
  left: 0%;
  animation: swap 40s linear infinite;
}

.item {
  display: inline-block;
  padding: 0.4rem 1rem;
  font-size: 1rem;
  color:#000000;   
  font-weight:800;
  letter-spacing:0.5px;
}


@media (max-width: 450px) {
  .ticker-wrap {
    rotate:-10deg;
    z-index:3;
    margin-top:7vw;


  }
  .item {
    font-size: 0.75rem;
    letter-spacing:4px;
  }

}


@keyframes marquee {
  0% {
    transform: translateX(0)
  }
  100% {
    transform: translateX(-100%)
  }
}

@keyframes swap {
  0%, 50% {
    left: 0%;
  }
  50.01%,
  100% {
    left: 100%;
  }
}

.star {
    font-size:1.25vw;
    color: #ff0;
    text-shadow: 1px 1px 18px #FFFF7F;
    animation: glow 1.5s linear alternate infinite;
}

@keyframes glow {
    0% {
        text-shadow: 1px 1px 18px #FFFF7F;
    }
    100% {
        text-shadow: 1px 1px 90px #FFFFB3;
    }
}

.ticker-wrap {
  position: relative;
  overflow: hidden;
}

.ticker-wrap::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;

  background: linear-gradient(
    to right,
    rgba(0, 0, 0,0.9) 0%,
    rgba(0, 0, 0, 0) 20%, 
    rgba(0, 0, 0, 0) 80%,
    rgba(0, 0, 0,0.9) 100%
  );
}

@media (max-width: 450px) {
  .star {
      font-size:1.5vw;
  }


}